---
layout: one_page
title: "Bestie nutrition"
custom_css: orange
custom_font: font2
hero_area:
  enable: true
  title: "Find your best"
  sub_title: "Hey bestie, it’s time to be your best self."
  animated_text:
    - "gut health"
    - "energy"
    - "focus"
    - "poop"
    - "health"
    - "life"

services_area:
    enable: true
    title: ""
    sub_title: "What if..."
    services: 
      - title: "you woke up every day clear-headed and full of energy?"
        icon: "icofont-tracking" 
        color: "rose"
  
      - title: "you never felt bloated or gassy after meals?"
        icon: "icofont-throne" 
        color: "blue"
  
      - title: "you fed yourself from a place of love instead of restriction and punishment?"
        icon: "icofont-fruits" 
        color: "green"
  
      - title: "you went to sleep easily and woke up refreshed?"
        icon: "icofont-bed" 
        color: "purple"
  
      - title: "you felt calm and focused at work and at home?"
        icon: "icofont-brain-alt
        "
        color: "orange"
  
      - title: "your period snuck in each month like a ninja, without pain or cramping?"
        icon: "icofont-blood-drop"
        color: "violet"




call_to_action:
    enable: true
    title: "Let's have a chat and discuss how I can help you!"
    button_text: "Get in Touch"
    button_url: "/contact"    

---

<div class="content-wrapper">
{% include header.html extra_class="absolute transparent" logo_class="logo" container_class="container"  %}


<div class="wrapper bg-opacity-default">
  <section id="home" class="pt-0 mt-0">
    <div class="wrapper white-wrapper">
        <div class="container inner">
            <div class="row">
                <div class="col-md-9">
                    <div class="space90"></div>
                    <h1 class="display-1">
                        {{page.hero_area.title}} {{relative_url}}
                        <span class="typer color-default" id="typer" data-delay="100" data-delim=":" data-words="{% for text in page.hero_area.animated_text %} {{text | append: ':'}} {% endfor %}"> </span>
                        <span class="cursor color-default" data-owner="typer"></span>
                    </h1>
                    <div class="space10"></div>
                    <h2 class="display-4">{{page.hero_area.sub_title}}</h2>
                    <div class="space30"></div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.wrapper -->
</section>
<!-- /section -->




{% if page.services_area.enable %}
  <div class="wrapper light-wrapper">
    <div class="container inner text-center">
      <div class="row">
        <div class="col-md-8 mx-auto">
          {% if page.services_area.title %}
           <h2 class="page-title title-color color-gray text-center">{{page.services_area.title}}</h2>
          {% endif %}
          {% if page.services_area.sub_title %}
           <h3 class="display-3 text-center">{{page.services_area.sub_title}}</h3>
          {% endif %}
        </div>
      </div>
      <div class="space40"></div>
      <div class="row gutter-50">
        {% for service in page.services_area.services %}
        <div class="col-md-6 col-lg-4 {% if forloop.index > 3 %} pb-3 pb-lg-0 {% else %} pb-3 {% endif %}">
          <div class="d-flex flex-row">
            <div>
              <div class="icon icon-blob icon-blob-{{service.color}} color-{{service.color}} mr-25"> 
                <i class="{{service.icon}}"></i> 
              </div>
            </div>
            <div>
              <p>{{service.title}}</p>
            </div>
          </div>
        </div>
        <!--/column -->
       {% endfor %}
      </div>
      <!--/.row -->

      <a href="/contact" class="btn btn-l">I want to learn more!</a>

    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
  {% endif %}


<!--
  <div class="box shadow p-60 image-wrapper bg-full bg-image inverse-text rounded d-md-flex align-items-md-center justify-content-md-between" data-image-src="{{relative_url}}/assets/images/art/bg5.jpg">
    <h3 class="display-3 mb-0">Would you like to learn more?</h3>
    <div class="space30 d-md-none"></div>
    <a href="/contact" class="btn btn-white btn-strong-hover mb-0">Yes please!</a>
  </div>-->


  <div class="wrapper gradient-wrapper inverse-text">
    <div class="container inner text-center">
      <h2 class="page-title">Meet functional nutrition, your new BFF</h2>
      <p class="lead">Here’s the truth: you should feel good. It might be common to struggle with fatigue, headaches, gut issues, wacky periods, funky skin and shitty sleep, but it isn’t normal. You don’t have to feel this way. You’re not meant to feel this way.

        <h3 class="text-left">Functional nutrition is for you if…</h3>


        <ul class="unordered-list text-left">
          <li>you’re feeling run-down, fatigued or foggy</li>
          <li>you’ve got a list as long as your arm of foods that hurt your gut or give you IBS</li>
          <li>the doctor says you’re fine but you’ve never felt worse</li>
          <li>you’re struggling to get your energy back after having a baby</li>
          <li>your periods are too heavy, too light or just too painful</li>
          <li>your sex drive has vanished</li>
          <li>you’re looking for natural ways to help the symptoms of autoimmune disease, anxiety, depression or adhd, asthma, eczema, breakouts or psoriasis</li>
          <li>you’re stuck on a sugar and caffeine rollercoaster to get through the day</li>
          <li>you’re preparing to get pregnant and want to give your body the best support possible</li>
          <li>you’ve done the rounds with doctors, specialists and naturopaths and nothing has changed—or things changed for a while and then you were back where you started.</li>

        </ul>      
      </div>
  </div>


  <div class="wrapper light-wrapper">
    
    <div class="container inner text-center">
      <h2 class="page-title">Meet functional nutrition, your new BFF</h2>

      <div class="row text-left">
        <div class="col-md-6">
        <h5><span class="color-default">1.</span> Mind + body</h5>
        <p>
          Mental health is physical health. Physical health is mental health. Your mind is part of your body — what happens in your body influences your mind, and your mind influences what happens in your body. You are one big physical, emotional, spiritual, mental system, made of stardust and powered by chips.
</p><p>
          All those symptoms you’re battling are your body sending up red flags to let you know that things ain’t quite right inside. The good news is, every one of those red flags is a clue to what your body is crying out for — and bestie, my green flag is that I can’t resist a red flag 🚩

        </p>
      </div>
      
      <div class="col-md-6">
        <h5><span class="color-default">2.</span> Food + feelings</h5>
        <p>
          Functional nutrition is not just a food plan or a supplement regime. You probably already know all the things you *should* be doing. You might even be doing them, and just not seeing results. 
</p><p>
          I can help you with the stuff behind the stuff — like figuring out if your body is absorbing the healthy food you’re feeding it, identifying hidden intolerances or sensitivities, figuring out how to make good habits stick or identifying where your subconscious beliefs or mindset are holding you back.

        </p>
      </div>
          
      <div class="col-md-6">
        <h5><span class="color-default">3.</span> Science + magic</h5>
        <p>Listen, we know there’s no easy answer — your body is literally doing several billion things *a second.* By the time you’ve developed a health condition or are experiencing symptoms, there can be a lot to unpick. But there’s a rhyme and reason to why particular things go wrong, and together I promise we can ferret it out.
        </p><p>
          The best news is that we don’t have to guess. The Bestie secret sauce is the functional clinical assessment. It involves palpating various points on your body to assess for nutritional deficiencies — we cut out the middle man and ask your body what it needs directly. It’s not woo-woo, but it is more than a bit magic.</p>
      </div>

      <div class="col-md-6">
        <h5><span class="color-default">4.</span> You + me</h5>
        <em>I’m</em>… wildly nerdy about health, nutrition, mindset, energy, human design and more, good at explaining hard stuff, and passionate about helping you feel better.
      </p><p>
        <em>You’re…</em> ready to put in the work to see results, curious and open minded, and committed to becoming your best self.
      </p><p>
        Together, we’re the buddy-cop blockbuster you never knew you needed.      </div>


    <div class="col-md-6 color-dark">
      <ul class="tick-ul">
        <li>Sustainable change for long-term health</li>

        <li>Focus on habit change and enjoyment</li>
      
          <li>Get you back in touch with your body</li>
      
            <li>Targeted supplementation if required to target deficiencies</li>
      
              <li>Weight-neutral approach</li></ul></div>
      

    <div class="col-md-6"><ul class="cross-ul">
      <li>Weight loss at any cost</li>
      <li>Restrictive, boring food plans or fad diets</li>      
      <li>Cleanses, detoxes or quick fixes</li>
      <li>Using supplements as a band-aid to mask symptoms instead of addressing root causes</li>      
      <li>Piles of expensive supplements you don’t know why you’re taking</li></ul></div>

    </div>
  </div>


  <div class="wrapper bg-opacity-default"> 
    <div class="container inner pb-0">
      <div class="row align-items-center">
      <div class="col-md-5 col-lg-4 offset-lg-1 d-none d-md-flex">
        <figure><img src="./assets/images/art/woman.png" alt="/assets/images/art/woman.png"></figure>
      </div>
    <div class="col-md-7 col-lg-6 pl-60 pl-md-15">
      <h3 class="page-title">Meet Katie</h2>
        <h4>Hey bestie!</h4>
      <p>
        I’ve been where you are. After two babies in 16 months (while running a boutique copywriting agency) I was exhausted, run-down and itchy all over. I battled for years to get a diagnosis for my autoimmune condition, only to be told that there was nothing that could be done. I just had to “learn to live with it”. 
</p><p>
        I refused. I found a functional nutritionist and dove deep into my diet, my environment and my mindset. What I learned fixed my health, changed my life and *blew my freaking mind*. Feeling bad isn’t normal. You are not the problem. Modern life sets us all up to fail—but I want you to live your absolute best life.
      </p><p>    
        I’m a qualified functional nutritional therapy practitioner (FNTP), and my background as a copywriter means I’m really good at making complicated stuff simple. I want to help you figure out what your best health looks like and how to get there—in a way that’s enjoyable, sustainable and lasts a lifetime.
        </p>







    
    </div>
      </div>
    
    </div>
    
  </div>



{% if page.call_to_action.enable %}
<div class="wrapper  bg-default inverse-text">
 <div class="container inner">
  <div class="d-lg-flex align-items-lg-center justify-content-lg-between">
    {% if page.call_to_action.title %}
     <h2 class="display-1 mb-0 pr-5">{{page.call_to_action.title}}</h2>
    {% endif %}
    <div class="space30 d-block d-lg-none"></div>
    {% if page.call_to_action.button_text %}
     <a href="{{page.call_to_action.button_url}}" class="btn btn-l btn-dark btn-strong-hover mb-0">{{page.call_to_action.button_text}}</a>
    {% endif %}
  </div>
 </div>
</div>
{% endif %}  


  {% include footer_6.html %}
</div>
